#em-widgetDrag {
	position: relative;

	.drag-bar {
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
#em-widgetPopBar {
	display: none;
	position: fixed;
	bottom: 0;
	right: 14px;
}
.em-widget-pop-bar {
	display: block;
	color: white;
	width: 90px;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	text-decoration: none;
	font-size: 13px;

	i {
		width: 30px;
		display: inline-block;
		vertical-align: middle;
	}
}
.em-widget-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #f5f5f5;
}

/*header*/
.em-widgetHeader-wrapper {
	height: 41px;
	line-height: 41px;
	// border-top-left-radius: 4px;
	// border-top-right-radius: 4px;
	// box-shadow: 0 1px 1px rgba(255, 255, 255, .3) inset;
	cursor: default;
	// border-bottom: 1px solid #ededed;
	background-color: white;
}
.em-widgetHeader-portrait {
	position: absolute;
	top: 50px;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin: -2px -8px 0 10px;
	border-radius: 50%;
	z-index: 9;
}
.em-widgetHeader-status {
	position: absolute;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	bottom: -1px;
	right: -1px;
	box-shadow: 0 1px 1px #aaa;
}
.em-widgetHeader-nickname {
	position: absolute;
	top: 44px;
	left: 36px;
	margin-left: 10px;
	padding-right: 8px;
	color: black;
	background-color: #f5f5f5;
	z-index: 9;
}
.em-widgetHeader-seperator {
	position: absolute;
	width: 90%;
	height: 1px;
	background: rgb(237,237,237);
	top: 64px;
	right: 8px;
	z-index: 1;
}
.em-header-status-text {
	display: none;
	color: white;
	color: rgba(255, 255, 255, 0.5);
}
.em-widgetHeader-word-status {
	margin-left: 4px;
	color: #efefef;
	color: rgba(255, 255, 255, .7);
}
.em-widgetHeader-workTime {
	padding: 0 10px;
	color: black;
}
.em-widgetHeader-back {
	display: none;
	position: absolute;
	right: 9px;
	top: 8px;
	width: 80px;
	height: 24px;
	border-radius: 4px;
	border: 1px solid black;
	text-align: center;
	line-height: 24px;
	color: black;

	&:hover {
		cursor: pointer;
	}
}
.em-widgetHeader-min {
	display: none;
	position: absolute;
	right: 9px;
	top: 10px;
	width: 21px;
	height: 21px;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(255, 255, 255, .3) inset;

	&:before {
		position: absolute;
		left: -5px;
		top: -4px;
		text-align: center;
		color: white;
	}
	&:hover {
		cursor: pointer;
	}
}
.em-widgetHeader-wrapper .em-widgetHeader-audio {
	display: none;
	position: absolute;
	right: 44px;
	top: 12px;
	width: 21px;
	height: 21px;

	&:before {
		position: absolute;
		left: -5px;
		top: -5px;
		text-align: center;
		color: white;
	}
	&:hover {
		cursor: pointer;
	}
}

@media screen and (max-width:330px) {
  .em-widgetHeader-back {
    font-size: 12px;
    width: 90px;
  }
	.em-widgetHeader-workTime,.em-widgetHeader-nickname {
		font-size: 12px;
	}
}

@media (min-width:331px) and (max-width:360px) {
  .em-widgetHeader-back {
    font-size: 13px;
    width: 100px;
  }
	.em-widgetHeader-workTime,.em-widgetHeader-nickname {
		font-size: 13px;
	}
}

@media screen and (min-width:361px) {
  .em-widgetHeader-back {
    font-size: 14px;
    width: 120px;
  }
	.em-widgetHeader-workTime,.em-widgetHeader-nickname {
		font-size: 14px;
	}
}
