.vip-tip {
	width: 100%;
	height: 20px;
	margin: 0 auto;
	margin-top: 16px;
	margin-bottom: 8px;
	float: left;
}
.vip-tip p {
	width: 287px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-size: 13px;
	line-height: 20px;
	background-color: #cca663;
	border-radius: 2px;
}

.evaluation {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	margin-top: 16px;
	margin-bottom: 8px;
	float: left;
}
.evaluation p {
	color: #999;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	margin-top: 10px;
}
.evaluation .btn {
	width: 160px;
	height: 35px;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-size: 13px;
	line-height: 40px;
	background-color: #85bfc3;
	border-radius: 40px;
}
.chat-container {
	padding: 24px 0 20px;
	overflow: hidden;
	position: relative;

	.em-widget-date,
	.em-widget-event {
		width: 100%;
		float: left;
		margin: 8px 0;
		text-align: center;
		color: white;
		font-size: 12px;
		> span {
			background-color: #c9ced3;
			border-radius: 4px;
			padding: 1px 3px;
		}
	}


	.loading-tip{
		position: absolute;
		top: 5px;
		text-align: center;
		color: #999;
		width: 100%;	
		vertical-align: middle;
		.loading-btn{
			margin-right: 5px;
			display: inline-block;
			transform:translate3d(0,0,0);
			animation:em-widget-loading-frame 3s linear infinite;
			&:before {
				font-size: 16px;
			}
		}
			
		
	}
	.no-more-msg {
		position: absolute;
		top: 5px;
		text-align: center;
		width: 100%;
		>span {
			background-color: #c9ced3;
			border-radius: 4px;
			padding: 1px 3px;
			color: #fff;
		}
	}

	&:after {
		content: '';
		display: block;
		clear: both;
		zoom: 1;
		overflow: hidden;
	}
}

.em-widget-left,
.em-widget-right {
	float: left;
	display: block;
	text-decoration: none;
	width: 98%;
	text-align: left;
	margin: 8px 0;
}

.em-widget-left {
	margin-bottom: -22px;
	> img.avatar {
		width: 30px;
		height: 30px;
		margin-left: 10px;
		float: left;
		border-radius: 50%;
	}
	.em-widget-msg-wrapper {
		clear: both;
		left: 50px;
		top: -30px;
		.icon-corner-left {
			position: absolute;
			top: 5px;
			left: -17px;
			width: 30px;
			height: 30px;
			color: white;
			text-shadow: -1px 0 0 #dedede;
		}
		.em-widget-msg-txt + .em-btn-list {
			margin-bottom: 60px;
		}
	}
}

.em-widget-right {
	.em-widget-msg-wrapper {
		float: right;
		margin-right: 12px;
		background-color: #679ed3;
		border: none;
		.icon-corner-right {
			position: absolute;
			top: 5px;
			right: -17px;
			width: 30px;
			height: 30px;
			color: #679ed3;
			text-shadow: 1px 0 0 #dedede;
		}
		.em-widget-msg-container {
			background-color: #679ed3;
			float: right;
			color: white;
			border: none;
			
			a {
				color: white;
			}
		}
	}
}




.em-widget-msg-wrapper {
	position: relative;
	float: left;
	display: inline-block;
	border-radius: 4px;
	max-width: 190px;
	min-width: 20px;
	min-height: 20px;
	vertical-align: middle;
	text-align: left;
	.em-btn-list {
		min-width: 190px;
		position: relative;
		margin: 4px 0;
		text-align: left;
		clear: both;
		&:after {
			content: '';
			clear: both;
		}
		button {
			font-size: 13px;
			display: block;
			width: 100%;
			padding: 5px 10px;
			min-height: 30px;
			text-align: left;
			color: #4a90e2;
			background-color: white;
			cursor: pointer;
			margin: 4px 0;
			word-break: break-word;
			white-space: pre-wrap;
			border-radius: 0;
			border: none;
			border-top: 1px solid #f2f2f2;
			// &:hover {
			// 	background-color: transparent;
			// 	color: #4873af;
			// }
			// &.white {
			// 	color: white;
			// }
		}
	}
	.em-widget-msg-loading {
		z-index: 1;
		position: absolute;
		left: -38px;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 40px;
		height: 40px;
		overflow: hidden;
	}
	// 消息发送失败标志
	.em-widget-msg-status {
		position: absolute;
		width: 86px;
		height: 30px;
		line-height: 30px;
		left: -88px;
		margin: auto;
		top: 0;
		bottom: 0;
		cursor: pointer;
		>i {
			display: inline-block;
			width: 30px;
			height: 30px;
			position: relative;
			&:before {
				color: red;
			}
			i {
				position: absolute;
				top: 0;
				right: 0;
				&:before {
					color: white;
				}
			}
		}
		span {
			line-height: 30px;
			vertical-align: top;
			display: inline-block;
			color: #999;
		}
	}
	.em-widget-msg-container {
		display: inline-block;
		border-radius: 4px;
		max-width: 190px;
		padding: 10px;
		min-width: 20px;
		min-height: 20px;
		vertical-align: middle;
		text-align: left;
		font-size: 13px;
		word-wrap: break-word;
		white-space : normal;
		background-color: white;
		border: 1px solid #dedede;
		// 图片消息、表情
		img {
			border-radius: 2px;
			max-width: 190px;
			word-wrap: break-word;
			vertical-align: middle;
		}
		// 坏掉的图片
		.icon-broken-pic {
			color: #999;
		}
		// 文本消息
		pre {
			word-break: break-all;
			white-space: pre-wrap;
		}
		// 文件消息
		&.em-widget-msg-file {
			position: relative;
			padding: 0;
			max-width: initial;
			width: 200px;
			height: 60px;
			overflow: hidden;
			.container-icon-attachment {
				display: inline-block;
				width: 52px;
				height: 52px;
				text-align: center;
				float: left;
				background-color: rgb(58, 164, 221);
				border-radius: 2px;
				margin: 4px;
				color: #fff;
				&:before {
					font-size: 50px;
					line-height: 50px;
				}
			}
			.file-info {
				display: inline-block;
				overflow: hidden;
				float: left;
				width: 80px;
				margin: 10px;
				font-family: Arial, Helvetica, sans-serif;
				p {
					vertical-align: middle;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: 100%;
					overflow: hidden;
					&.filename {
						color: rgb(0, 0, 0);
						font-size: 14px;
					}
					&.filesize {
						line-height: 20px;
						color: rgb(165, 165, 165);
						font-size: 12px;
					}
				}
			}
			.container-icon-download {
				color: rgb(165, 165, 165);
				display: inline-block;
				text-decoration: none;
				float: right;
				text-align: center;
				cursor: pointer;
				line-height: 20px;
				margin-top: 15px;
				margin-right: 10px;
				&:before {
					font-size: 20px;
				}
			}
		}
		// 菜单消息
		&.em-widget-msg-list {
			padding: 0;
			margin-bottom: 60px;
			>p {
				padding: 10px;
				background-color: white;
				font-size: 14px;
				word-break: break-all;
				border-radius: 4px;
			}
		}
	}
	.em-widget-msg-html-form{
		padding: 0px;
		height: 60px;
		overflow: hidden;
		position: relative;
		.form-url{
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}
		.form-content{
			float: left;
			max-width: 130px;
			min-width: 100px;
			padding: 10px;
			box-sizing: border-box;
			span{
				display: block;
				line-height: 20px;
				height: 20px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		.form-aside{
			float: right;
			width: 60px;
			height: 60px;
			background-color: #e1ecf9;
			i:before{
				font-size: 60px;
				line-height: 60px;
				color: #00B1DC;
			}
		}
	}

}

.em-widget-msg-img + .em-btn-list {
	margin-bottom: 60px;
}

.article-message-wrapper {
	margin: 8px 0;
	float: left;
	width: 100%;
	.article-item{
		padding:10px 0;
		position: relative;
		.article-link {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}
	}
	.article-msg-outer {
		max-width: 360px;
		margin: 0 auto;
		padding: 0 10px;
		box-sizing: border-box;
		width: 90%;
		background: #fff;
		border-radius: 4px;
		border: solid 1px #BFBFBF;
		font-size: 12px;
	}
	.only-one-article {
		.body {
			padding: 10px 0;
			border-bottom: 1px solid #E9E9E9;
			.title {
				font-weight: normal;
				font-size: 14px;
				line-height: 24px;
				height: 24px;
				overflow: hidden;
				width: 90%;
				white-space: nowrap;
				text-overflow: ellipsis
			}
			.create-time {
				color: #9B9B9B;
				line-height: 32px;
			}
			.cover {
				width: 100%;
				margin: 5px 0;
				img {
					width: 100%;
				}
			}
			.desc {
				color: #999;
				p {
					overflow: hidden;
					width: 90%;
					white-space: nowrap;
					text-overflow: ellipsis
				}
			}
		}
		.footer {
			font-size: 14px;
			padding: 10px 0;
			position: relative;
			i {
				position: absolute;
				top: 5px;
				color: #dcdcdc;
				right: -10px;
			}
		}
	}

	.more-articles {
		.first-item {
			.title {
				position: absolute;
				bottom: 10px;
				height: 30px;
				line-height: 30px;
				color: #fff;
				padding: 0 10px;
				box-sizing: border-box;
				font-size: 14px;
				font-weight: normal;
				background: rgba(0, 0, 0, 0.5);
				width: 100%;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.cover-img {
				display: block;
				width: 100%;
				min-height: 100px;
			}
		}
		.rest-item {
			// height: 40px;
			border-top: solid 1px #E9E9E9;
			.cover-img {
				display: block;
				width: 40px;
				height: 40px;
				position: absolute;
				top: 10px;
				right: 0px;
			}
			.title-wrapper {
				height: 40px;
				line-height: 50px;
				.title {
					display: inline-block;
					padding-right: 50px;
					line-height: 20px;
					max-height: 40px;
					overflow: hidden;
				}
			}
		}
	}

}

.em-widget-msg-wrapper .em-btn-list [data-id=TransferToKf], .em-widget-msg-wrapper .em-btn-list .js_robotTransferBtn {
	position: absolute;
	line-height: 80px;
	text-align: center;
	overflow: hidden;
	left: calc(50vw - 50px);
	transform: translate(-50%, 0);
	width: 125px;
	height: 30px;
	bottom: -60px;
	border-radius: 30px;
	background-size: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAA8CAYAAABPXaeUAAAAAXNSR0IArs4c6QAAF2dJREFUeAHtnWlwHMd1x3sWN3iDBwie4AGCpHiIJGhKBE9JTihZMm3FcYp2EjuHS/mQckpFO5GZcj7ERVqJ4rLKlS8qH4nKMWnHMR3ZisUosgiSIEWaN8X7PkECBA+AB4hz834DNDDYY3ZmdxYAyX5VuzM709Pd82Zev/f+73WvpdJEb+3Zk3/zXuMiFQ7PC4dVadhSpZZSI1VYDZD9AXI8O01Nm2oNB/ouByyryQqrO8pSd8JKXZP9E5alTijL2lvQL6fylbKy++novMhecPTG9u0jmpvCX5CbeFluYoER5uB4a2p6DDjAIKDULlGGG7OyrfVfLy+vCequAxH017dsX9IWbvu6CPcK6WRmUJ0z9RgOPLYcsFSLCOemkBV647Wl5VtT5UNKgr62onK5dOAfRXMvSrUj5nrDAcOBOBywrMpQOPzNbyxfXBGnRMLDSQn6d7fuKWpoa/iO+N6rErZgChgOGA4EwgHx5TfkhfJWv7qk7KrfCn0L+usVlc+3hdWGsAoP8tuYKW84YDiQGgcsZdWFLLXqtWWL3vNTU8hP4bVbtq1uVepdI+R+uGbKGg4ExwFkDxlEFv3U6kmjf+/UqZy7l6vfkka+5KdyU9ZwwHAgfRwQ7f52/zGFr3y1pKQxUSsJBX3d1n3DVdv9d8Lh8NOJKjPnDQcMB3qWA5ZlfaRC+SvXLJl73a1lV9MdTW6E3I195pzhQO9ywFbAoohtWXXpiqug2+a60eQu7DOnDAd6nwMIO7Lq1pO4go6zb3xyN9aZc4YDfYcDyKobQBfTRyeEBrIniTBxB4K+c4umJ4YDhgM2ByyrLUOpF2OF3qIE3U6GaX1wDBjfsM9wwHDg4eIAcfa8jNxpkUk1URrbzngzQv5wPV3TW8OBDg6goJHhSIZ00+jf3rxtWZtSmyMLpev3yP791fjBg1T/nGw1QD7QncYmdVc+F27XqWt376araVOv4cAjzQHR4MudufHdZpq1Wda3xC9PKwNyMzPVU2NHqxmFI9TA3By7rcaWFlvA+TGpYIjKkTJQ/YNGdbi6Ru28dEU9kDKGDAcMB7xxwJZlpRbr0p0afd3WHUvDra0V+kQ6tvPHjFKLxo8TQc5Qp2pvqBPyOX3jVpQQMxhMHjpElQ4bqkrk09jSqiovXFS7L1elo1ue6xw3aKAqHNBfXRRro/ruPc/XzRtdpPpnZ6vj12t9Xee1gayMkJpbVGQX31NVpVplMsKjSvlZmerJopFqaH6+2n7hkrrZ0PCo3mrK92VlZCxbs2ThFirq0uhtrV9LueY4FWSGQurT06aoqcOHiWDfVB+eOa9q78dfSAPtfbj6uv0ZJg/0mUnF6pOTJ6qxImi/OnZStbSJg9ELNGtkoZpVVKgqzp73JbBlo0fJi5mnrt654+s6r7eYl5mlnp08wS5+4No1EXSJmTyi1NDcYluDw/rlq8bWFvX+qbMp3ymDsLYu41V24959aa9VZWdkqJEy2HulNrGQL9fVey0ebLl2me4SdFaGaWpuWxFsK+21ZYmQ//GTM21N+P6pM2rPFX8z7BgQ/vPjo6pMtOJzIux/InX9x4GPVXMvCPuogQPsm7pSf8czqxjkCvJy7fI1d+MPbp4rjFFQpi92Ei9WqpQnFtWg3PY+p1pX5PV3GhvVvebmyMMKq2TUgHb+Rp2MOHDm5i2FoM8qLBTL8Kbyes9VMtA2t0YridkyeC+dMD6ile4/Nxw8rM7dum0P2LzPXomB6bvbd3otHmg5eRNWINusVGNrdHv5J6d2D7C5l0STY+7+XISVB5QsMUDcfvBAfW7GdEWdG48cT7aqpK7D3UArSxaSaGbvICEvpOQjqyZxP+h/OijkkPS2AMz2SUMLbAssHX397ZlzapdgLpE0RAaWL/oQIK7PlmeyavaMyKri/v7B7n2qRjRzPLp5vyHqGQEY52dnRV3SJNrdTVOj+ceIBep1EIpqIIgDstpTh2y/2W66yxpvsgRU4PQJ8ckx19HkqQi57hj+/Aenz6rfK5mkqPt3afbZAQ21SdcvK7tTYJdNjB79z8tof+7mbbVc3AwnFeTl2T9bw23S74nOU932N4s7k6yVogWdQag1AI3eLC/x7YbEgxLji9b8AKdeXmrwlkR0UrCbIGmK4DxeaP/Va1GD0OdnThe8qCDq8joZtH966EjUcX2gsH8/9Rdlc4Qn0RaELtMjW2RbqTczWa219u6DBUE3CqAG8MZD82uuu/WFuoqHDLbrPnStJgrIc7vW77lpI4arogh/DC2Czx1JLWISXhJfLNY5yuZlZcU9x/lt5y8mLehZoj2gZAcK+2LHFyApn0SUJ8DYq+VP2cVwp4KyWP7r8LGopmlrSfF4VSMg6DEBNf1EYdYs6/mVznI6nklTDFch6ubSeED09wJkPLNjSebAl15eOG6MbVptFuAqaKLOr8yfq2jjwzTUr/t7UEb4szfbQ4Ag5wxeh65Vd4YCdTm2IPH4fyDBTpozaqTKFyE/VlPrihDH8h2d9bjtD+2wGnAPHkXKkCVVcNkAY68KPgLg2NdJh4gJHfcqybLqyHimOJ3z0tER4uSEk26I3xM0USd100Y6BX1fVfsLRTIPgwom7aaTZ1xR/y3nLnTeLi8o5j+05dx5EfTE5nDnxT52CgQ7gAC0MOO9mNA+qu/1oi9NnWILOR05cLVa9r1lZzP49hZpl+1uU1NvdaGrXZHxTHHpSruOBLMHOk2224nric2/ZFuk7uliWtNWlQ8UPJn2SsRHA1A7Kz44oT38L7T7dQF27sdAkHUbRYIiZwjqfr+pOW1CTluAhBBahFj/+V58we2OJPFVL9mQ7508HXXlMkHDec6ani+drHcTbtdVVNpldL204UYDc3IU4JuTtGZ2Hku0D3A7c+QIu1itC/iXqJ6gziPjmfyDStBAXLGktQIMBQHAxbtZ6qYN2kq3oGsw5+SN9oHr2UkTbJxg45FjYll0DWYZoFMOQuggwjqR5xzF7F2w0GQ1MckjmkgwehgFHZ97f4cFxb3Ar2eEzyRZQTxj+OhGMqFDTRsxzHaVAAc1OevVx2JtaUu3F+u827E/EtBusLhQhJP7CUrPAI/ZDo7U24SMZ8qrOTIowB3tumj8WDUOQZe7+8z0UslouxS4IOp2aGOhtEcYIx3t8IDwr8nHR5MTs3UjgCnAukgCtf27peWRh7v9vn7vnvr+7v3djnn9oeP0lMf6+D+JTDzMxP18ZvrUzsQUBnSSVC7W1amt5y7GdJ0YGF4oLbGf1z2xoNZL3Nsv3RLXqj4iBDpCrDeA1ERE2G6ipG9DmOtV9XfVvqqrrrhMojqDOo+Mi48u/4MWAAGUEAdlJG0QczY7lKHIavvTObPUTwSRBZEOgpztNEoyQpNkgaWjHd1XkikYnY9Ipp4fpFdfn+7tMDHbQd0RBjK3BouQjJDYvVu8ON19SqV+cJcVEj5lwEQj/s+JU3YKNH76U2PH2GnRvzlx2p70pNvh+X9KTPrR8g7yjH566HBSAoZgRsb444XXdNt6C0CcDuBZ15/SVmQc013+8DClauyLl00sViQc/GjvAUU2GIQW/PN5TyrO/Xj/IftYql891Y7u51xBzaGDgrYnojd37OosgtVBBhWD3r/u3C2C2Hkq5o5ML4x5PNHBuRINgJjtRyLP0wIaYr4/rII+UwQdIb8m90JSlA7Z/WDPfvXS1BJFMg8KBXN8x8VLkk8xWs0bVaRCAnxeEh786vhJVecw2xPxL9nzvOMMqF6ot58FMt6eMOOltwnKFAmIsftKlS3czlz0U5LbPj9G3DlBdXFP91Q7dADkVCeEkKCj7wNzDnp63Fg1U9IwoUtiVjLLThPYAQSWkEroTNcXawsgOFvy76GDgkaTmgvKP0cmfey8dPmhnNzyy6PHbT95h7h8zuQfQM+fSXYlPvQzojgIW/KBWkWhfHjmgn3P9oEe+Boi78ZfSojXC/3Tlu3d7sXLNUGXyeQvXEWXeEsdcmk9U0I7TgHXRTnGuaCop9qhv8yMwnwEeY2VHWUn03Q4Ps0RE0l0eSbxpIt40THbH4gLc7y21hZs8rHxFeePHt2jL35Q94jpTfJQJA0RlwRQlBmNOhNQlwGEm1gw2M5CQ7Hga6ebSIElbx8g9Ja8J7GsiHESBgSfTc5WC+4OkPFM/qdZepKyoAfXrb5V008OHI4C2J4TNBhwaKvEzC92YA/3HfFSUFdCcPjNvHROsCzW3THxoUFecD/Ey85EH+hwTU2n9t4rmYMI+sLxY0TLX/Ndr58+pLMsOQGEuiZIFmTp8KFqeL92K4o2CWuyTgHuCusX4NeTLcmHiU+EtBhgcWUYrHkGCGYiGiz59mBATmKCTywiBfadoydFq8+xc0WYeOUkQnV//fR8uw/JRlOc9aW0LzKeKaMNWSHFKVX0CF8ca5UbDcoxsy5WUsbkgva4O2z5M8EoElGlaLCtMbSY23XElgfIy4TZuudy14xAXnASioitlxePlbkB59yq6RPnCEkx8Qm3jAEUS4n+k7ugiVWHjtQwdbmm21Rfwm5YAKMFE0HgCa8xkYiPk0Di0byEuw7IAOgkjSmR/cjHK9VIpIRBh4GVqa7O5Jgpwwrsas6lMJHLaz8SlUPGMd1PyM5TiQonOs+o1fVYukpzLMgRrafa6boD/3tk0rnNbNI1jhAtBfDkN0ed+p+ZVGxXs+Pi5W4IszxLyd47bQNWgFQMAhrQ0u32tS0Aa2T8msEUIQZ3YDDlw73FI8rxIbRIOHS4CDpmNQMGW6wsPh/LQBFJhFAhQpyRJjhJT1wXj47K4MMUV6IzzvTnkqHtRjKuVG8TMp4pg+aJRIiwl45iLhE/jySOBZkd1FPtRN6H229MPmL598R858ES0+fjRvDlizLFEk1FWMcroX3+UPK+0SDwwvly6TowaQHnePlWSi4D4c1Y+Iku39vbvQLiYnZX1derywhs3R07WlE0sD1LDTN+kqw45Icw2UHutWsFcInQx1qRhlVroMrzl+wJM852EoXXCLsi6AC1++U53hc3jPeBwYaU6aDCys4++d1HxsVHt/YmjP14qJkpoy9K+ONzM6bZSQvkebPQIy/0u8dPeajBWxFnOxroAvgKup1YvcE6AYXXaZHlgrozZRahgzAhvYzg+H0rZU49pikayMvUTbsB+fpUaYlt3uL/E2OOZy0x75vluDBpaesXPTx/X/fXy5Y5AN+XueJOwjf//MwnnId877Pc1w8lLAdhIaDxY5HW6HUCrvklrCU9qP5+yWRF1KBc8BHCffuv1MR9Pn7bSam8yHhmQb+cSpmm2iTCntIMNmZ1MfIuLh5nCzodG5TbrP5X5qJzLihytqNTUwm9BN0O/WUu/SjRKoTZ+ID8kjyjCb8Sov1Lt+u7JXEAxvESRAoxGVxoWfxrpvAy5dIrMbHmicL2vG8GvHgvLvXxYjOIkGFWKvcBgPiBCP/DRkQU/KZS9xdTe7wMFF4pv2OgdqbNer2WcgyqgILgA1fvjLZDrmAnH4lb1etkWU3IeOYrZWX311VU7hL/Z3GqnQLx5UOWEqmYb+74XapVxrxet6M1qRMEiXlBkgefFNNXpzXqKniAEAJPPzC7AWSchIZYNWuGPaqzoCUfBA+k/A/E4qFOzErWv/NKDGp6uSMAKV6uRHS0plbM1Yv24PsJia8z8AS5NkCi9oM4j5Z959gJX1VhDfgSdHlePNdk3yOe7funz6iXn5hm5+fT2f1V1ao+CQvB1416KCxW6C5kvN05CauNck3Kgq7bxS+ZLUkb6U7FTPbB6H4m2rJiDLFSUGz9ufWgwRZifMoLt29HCTl1MgDdEqHCbMbCIdkGYUfL42aA/rI6iZeQD/WVSz7/EqkHUx8r4NeS/eWVcCcYeECTWWATU19Pv/Vax6NcDn+aRS28rKjjxgcmN12R9540XEi7lW7X9Mi5dtluXwU2K9ta39QcfkNgzdhBQ589Ygrpiilt9rK873ucYIH2JP0RAhll3nFv067LXZlufvpC2OXtfQdtcw4BLRKBXyRbCIAGIXeb3qrb4gX89NTSTiCKgeeX4mv7BU9xa6iLkNyKKZNtPIN88ciBhnXOtL+q++C2pU5NgzrW6Ne/E225/8j2E12TjvMa5IsF0vlpj5wGLeRc99knptrLnvXqoGqplqwsaz39sZ8Uq0Suq9i2Scz3FzmYKjG5glxkQibV8tIDVrgRGo9EBwAmaKwAeLx06V4Tzq1PQZzDt+SDFmdeNamzZLK9IIDau6KVI0M5zjaxBj4r/rVes46Zc/8tQI8zLdRZPtE+bkKGFbKTTxB4klHIJWdQ0jR1+FABVKfon762fhd2ZI64l+mjmQJqJUo4iuwoySpeiZwHKJ4G1jF2t/qYX7BcQoQQ7hzoPhYfg+r4wYPVb5iYIzLR0yRm+yZkm3Y7h+SQFXpDFjAMRNCp+IMzZ+0bBiVmtMO0qZa/WAIJBY13EgMCQq4TJNjn2MMu6PoeeYnOisAzhXehIPWEXr5SNlf99uy5mC87oRri5OAArOq6+dz5qFlVum6vW0z2X8j8eQA9fH1Wpfny3NlqkwMs5Y8fmITTE6SxjkRtEQP/qwVliYoldR4h5llAsdbI6ycuj17DHRcukjD7waM0HgD4xgw2sJgXRMj5DwAAOhKAQOP9rB4c2VYyv5FpfV2noL+2tHzr2orKSpG4QFbSk/dK/UxMVG50wZjRnT4mDWO2gXCSR/5A1jnDp9VCznn2dQiL348CIWhkv5GLzZRLMreenTjBnuMeiTWwOg9CDo/Q4sSWgyISbEhEWSnWAokguZKwo4nMMz59iXB1agUj8UMszKiX13K7DkuBMDDr0GnlQ5be35QvsPMOsCoZDMBUYvXhOfnTDIScPrKkGdoc4lm/K1qcqAgDNlOHmWh09U70Cjpu/UvpnGVVItO6jk5B7zjwD7L9UJ9MdYshDvLLBwZiugJIsUW4EebBeTk2UxFuRkIIRp10rNxiH+xDX2g+ElCSWUKdUf2He/eLKV9sv0CRQs5tkkPPC8bfUJEHHzSxAs2PpA9zJXOur1tNxNj/TaY++yFQdy/rvTN9FE07KCe3s3qyFC/cqhNcpb89WYi8iHgJTYQvmVDDNlb2IctH47qxIlGFWGU9SaFw+JvO9toly3FEfPX1ImerHIfSvkvWEnONmUcN8b9sv5YkG8IWhh5PDjDo814w6Pt9D1K51gu3yYVAidG3vkjSvQ1rli3+grNvkRpd5YXyVje0PniB/1l2FkznPg/y57KWN4vqQZFJJuls29TdNzmAEHmJTMTqfSrXxqov8liygGhkPen4LRZGXV4od3Vk3V1pXh1nXl1SdlXcllXiKLdnhkRekcbfCLgR8jQy2FT9aHNAZBbZRYYjbzRK0Cnw2rJF7ykr/LeRhc1vwwHDgT7MAZFZW3ZjdDHKR3eWWbe58t/FhP+S85jZNxwwHOh7HBCT/e01yxd9OV7PYmp0Xbj/mMJXBA3/SP82W8MBw4G+xwFkFFl165mroH+1pKRRhfJXGmF3Y6E5ZzjQexywZVNk1JZVl264mu76uu+dOpVz93L1W8aM1xwxW8OB3ucA5jqaPJGQ01NPgq5vae2WbatV2PpnyZ5ztQR0ebM1HDAcSAMHiIgJ8Pb3Sxd/x2vtvgSdSl+vqHxeMsI29GSc3evNmHKGA486B4iTE0KLh67Hu3/fmpkG8jJyp5F9E69Sc9xwwHAgeA4gc8ieXyGnJ741urP73968bVmbZX0rqIkwzrrNvuGA4UAHB2SCCrnr31i+uCJZnqQk6LrRdVt3LFVtrV+TzN8VQS1eoes2W8OBx5IDsmiECOcmFcr4lzVLFm5JlQeBCLruxNqdOwuthhZJn1Uvi9AvEE2f0oKTul6zNRx4LDggCzmKQO4SZbmRVZ/0ohFB3Huggu7s0Ft79uTfvNe4SIR9nsxPKOXP2KWxkXITA9r/wdUMAk5+mf3HhAMIs/wXmihD/vPwGn+uIL73CZlbspfVWlnIMR2c+H+JngM0RCNs4gAAAABJRU5ErkJggg==');
}

.em-widget-loading {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	animation: em-widget-loading-frame 1s linear infinite;
}

@keyframes em-widget-loading-frame {
	from {
		transform: rotate(0)
	}
	to {
		transform: rotate(360deg)
	}
}
